html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.card {
    font-size: .8rem;
}

main {
    max-height: 100%;
}

.icon-container img{
    width: 2.5rem;
}

.font-bigger {
    font-size: 1rem;
    font-weight: bold;
}



/* #cityBtn:focus {

} */
